
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&family=Open+Sans:wght@400;600&display=swap');

*{
    text-align: center;
}
header{
    background-color: #1F2937;
    height: 400px;
    color:  white;
}
h1{
    font-size: 48px;
    font-family: Roboto;
    font-weight: extra-bold;
}
h3{
    font-family: Roboto;
    font-weight: extra-bold;
    font-size: 36px;
}
a {
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
}

footer{
    background-color: #1F2937;
    height: 50px;
    color: white;
}
.two{
    height: 300px;
}
.three{
    background-color: #E5E7EB;
    height: 300px;
}
.four{
    height: 200px;
    display: flex;
}
button{
    background-color: #3882F6;
    color:white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
.call-to-action{
    background-color: #3882F6;
    color:white;
    width: 800px;
    height: 120px;
    border-radius: 10px;
    justify-content: center;
}
.quote{
    font-family: Roboto;
    font-weight: Light italic;
    font-size: 36px;
    color: #1F2937;
}